.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: #f3f3f3; /* Assuming a light body color */
  border-bottom: 1px solid #b1b1b1; /* Assuming a gray for light mode and a darker gray for dark mode */
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: 4px; /* Assuming a small radius */
  text-decoration: none;
  color: #656565; /* Assuming a darker gray for text in light mode, lighter in dark mode */
  font-size: 14px; /* Assuming a small font size */
  font-weight: 500;
}

.link:hover {
  background-color: #e0e0e0; /* Assuming a light gray for hover in light mode, darker gray for dark mode */
}

[data-mantine-color-scheme] .link[data-active] {
  background-color: #007bff; /* Assuming blue for active state */
  color: white;
}

/* Header.module.css */
.logo {
  width: 100px; /* Set the width as needed */
  height: auto; /* Maintains the aspect ratio */
}
