.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px; /* Larger font size for titles */
  color: #1A202C; /* Dark gray for better contrast */
  font-weight: 500; /* Medium weight for readability */
}

.description {
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px; /* Limiting width for better readability */
  background-color: #F7FAFC; /* Light background to highlight the text */
  border-radius: 8px; /* Soften edges */
  font-size: 18px; /* Slightly larger text for better legibility */
  color: #2D3748; /* Soft black for text */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.input {
  width: 300px;
}

@media (max-width: 768px) {
  .description {
    font-size: 20px; /* Larger text for larger screens */
    max-width: 400px;
  }

  .input {
    width: 200px;
  }
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin-top: 10px;
}

.backButton {
  margin-right: 80px;
}

.button:hover, .backButton:hover {
  background-color: #2B6CB0; /* Slightly darker on hover for feedback */
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}