.card {
  margin-top: 1rem;
  background-color: #fff;
}

.textDate {
  margin-bottom: 3px;
  font-weight: 500;
}

.playedOn {
  font-weight: 400;
  margin-left: 5px;
}

.badge {
  margin-left: 5px;
}

.group {
  margin-top: 10px;
  align-items: center;
}

.attemptsText {
  margin-top: 10px;
}